@{
  ViewData["Title"] = "Create Destination";
}

@model TravelClient.Models.Destination

<h4>Add a new destination review!!</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CityName)
  @Html.TextBoxFor(model => model.CityName)
  <br>
  @Html.LabelFor(model => model.Country)
  @Html.TextBoxFor(model => model.Country)
  <br>
  @Html.LabelFor(model => model.Review)
  @Html.TextAreaFor(model => model.Review)
  <br>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Country, new {type="number"})
  <br>
  <input type="submit" value="Add Review"/>
}

<br>
<p>@Html.ActionLink("Back to destinations", "Index")</p>